p atributos en linea
a(class='button', href='google.com',target='_blank') google
a(class='button' href='google.com' target='_blank') google
p atributos multilinea
input(
type='checkbox'
name='agreement'
checked
)
p atributos booleanos
input(type='checkbox',checked)
input(type='checkbox',checked=true)
input(type='checkbox',checked=false)
p estilos en los atributos
a(style={color:'white', background:'crimson'})
-var clases=['yellow','blue','red']
a(class=clases)
p clases literal
a.button
.link
button.large.red.center
p identificador literal
aq#link1
#btn1
